/*variables for media queries*/

$large-device: 1200px;
$medium-device: 992px;
$small-device: 768px;
$extra-small-device: 480px;
$custom-iphone-device: 320px;

/*variables for colors*/

$navbar-color: #003c71;
$navbar-text-color: #ffffff;
$app-left-background-color: #ececec;
$app-right-background-color: #6c8ab4;

$signUp-page-background-color: #ecf0f1;
$signUp-block-background-color: #f9f6e8;
/*variables for fonts*/

$font-family: open-sans;