<div class="container-fluid forgotPassword-page">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="forgotPassword-block center-block">
				<h2 class="text-center">Reset your password</h2>
				<p class="text-center">Enter the email address you used to sign up and we'll send you an email with a link to reset your password.</p>
				<div class="alert alert-success" ng-if="emailSent">
					<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Please check your mail for password reset link!</strong>
				</div>
				<div class="alert alert-danger" ng-if="emailNotSent">
					<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>The provided Email address is not registered with us!</strong>
				</div>
				<div class="alert alert-danger" ng-if="tokenFailed">
					<a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<strong>Your reset password Token has expired, please re-enter your email address!</strong>
				</div>
				<form role="form" name="forgotPasswordForm" ng-submit="forgotPassword()" novalidate>
					<div class="form-group">
						<label class="control-label"><h4>Email Address</h4></label>
						<input type="email" name="email" ng-model="forgotPasswordEmail" class="form-control" required>
					</div>
					
					<span class="pull-left email-error-forgot-password" ng-show="forgotPasswordForm.email.$dirty&&forgotPasswordForm.email.$error.email">Invalid Email.</span>
					
					<button ng-disabled="forgotPasswordForm.email.$invalid" class="btn btn-block btn-info forgotPasswordForm_submit-btn">Reset Password</button>
				</form>
			</div>
		</div>
	</div>
</div>