
<div class="container-fluid banner_div">
	<img src="prm_banner.jpg" class="img-responsive">
</div>
<div class="container-fluid middle-container">
	<div class="row">
		<div class="col-lg-5 tag-line-container">
			<h3>A tool to manage all your projects and related resources!</h3>
			<h4>Log In to add more projects to the list</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="col-lg-7 project-list-container">
			<table class="table table-stripped">
				<thead class="">
					<tr>
						<th>Project Name:</th>
						<th>creator</th>
						<th>start date</th>	
					</tr>
					
				</thead>
				<tbody>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
					<tr>
						<td>united health care</td>
						<td>Rick Davis</td>
						<td>09/02/2015</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>

<div class="more-description">
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

